@use "../../../../assets/styles/variables";

.quickLinksContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quickLink {
  border-radius: 5px;
  width: fit-content;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 5px 5px 0 5px;
  background-color: variables.$white;
}
