.scrollableContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
}

ktbz-rich-content {
  transform-origin: top center;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: 30%;
  flex-shrink: 0;
}

ktbz-rich-content.dimmed-20 {
  transform: scale(0.9);
  opacity: 0.8;
}
ktbz-rich-content.dimmed-40 {
  transform: scale(0.8);
  opacity: 0.6;
}
